<h1><%= @task.title %></h1>

<p>
  <strong>Détails :</strong> <%= @task.details %>
</p>

<p>
  <strong>Status :</strong> 
  <% if @task.completed %>
    Complétée
  <% else %>
    Non complétée
  <% end %>
</p>

<%= link_to 'Retour à la liste', tasks_path %>